* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
}

.regular-nav {
    position: sticky;
    top: 0;
    transform: translateX(10%);
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    font-size: 1.5em;
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
    background-color: #333;
    white-space: nowrap;
    /*display: inline-block;*/
}

#story-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#story-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    margin-left: 20%;
}

ul a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

ul a:hover {
    color: #0AA50F;
}

#story-container {
    height: 10000px;
}

#jack-container {
    position: fixed;
    left: 0;
    bottom: 0;
    /*Change this later*/
}

#background-container {
    transform-origin: bottom left;
    position: fixed;
    bottom: 0;
    left: 0;
    /*background-color: red;*/
}

#inner-background {
    width: 100%;
    height: 100%;
}

.pop-up {
    position: fixed;
    display: block;
    margin: auto;
}

.story-svg {
    position: absolute;
}